<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="main(content)"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Сервис размещения объявлений</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Сервис размещения объявлений</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a sec:authorize="isAuthenticated()" class="btn btn-link nav-link"
                           th:href="@{/user/{userId}(userId=${currentUserId})}">Профиль</a>
                    </li>
                    <li class="nav-item">
                        <a sec:authorize="!isAuthenticated()" class="nav-link me-2" href="/login">Вход и регистрация</a>
                        <form sec:authorize="isAuthenticated()" action="/logout" method="post" class="d-flex">
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                            <button class="btn btn-link nav-link" type="submit">Выйти</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary" href="/ad/create">Разместить объявление</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
         class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="nav-link" href="/admin">Панель администратора</a>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <form class="d-flex w-100 me-2 mb-2" action="/" method="get">
                <div class="dropdown me-2 btn-primary">
                    <select class="form-select" name="categoryId">
                        <option value="">Все категории</option>
                        <option th:each="category : ${allCategories}"
                                th:value="${category.id}"
                                th:text="${category.name}"
                                th:selected="${category.id == categoryId}"></option>
                    </select>
                </div>

                <div class="dropdown me-2">
                    <select class="form-select" name="cityId">
                        <option value="">Город</option>
                        <option th:each="city : ${allCities}"
                                th:value="${city.id}"
                                th:text="${city.name}"
                                th:selected="${city.id == cityId}"></option>
                        </option>
                    </select>
                </div>

                <div class="dropdown me-2 mb-2">
                    <select class="form-select" name="sortBy">
                        <option value="">По умолчанию</option>
                        <option value="newest" th:selected="'newest' == sortBy">Сначала новые</option>
                        <option value="oldest" th:selected="'oldest' == sortBy">Сначала старые</option>
                    </select>
                </div>

                <input class="form-control me-2" type="search" placeholder="Поиск по объявлениям"
                       aria-label="Search" name="searchText" th:value="${searchText}">

                <button class="btn btn-primary" type="submit">Найти</button>
                <input type="hidden" name="_csrf" th:value="${_csrf.token}">
            </form>
        </div>
    </nav>
</div>
<div th:fragment="foot">
    <div class="mb-5"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</div>
</body>
</html>
