<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
<div th:replace="layout/layout :: navbar"></div>
<div class="container">
    <h2 class="mt-5 mb-5">Панель администратора</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-striped" th:if="${not #lists.isEmpty(ads)}">
            <thead class="table-dark">
            <tr>
                <th style="width: 15%;">Фото</th>
                <th style="width: 20%;">Название объявления</th>
                <th style="width: 30%;">Описание объявления</th>
                <th style="width: 20%;">Подробная информация</th>
                <th style="width: 15%;">Действие</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ad : ${ads}" th:if="${ad.onModeration}">
                <td>
                    <a th:href="@{/ad/read/{id}(id=${ad.id})}">
                        <img th:src="@{/images/{id}(id=${ad.previewImageId})}" alt="Фото" class="img-fluid">
                    </a>
                </td>
                <td th:text="${ad.title}"></td>
                <td th:text="${ad.description}"></td>
                <td><a th:href="@{/ad/read/{id}(id=${ad.id})}">Подробная информация</a></td>
                <td>
                    <form th:action="@{/admin/ad/approve/{id}(id=${ad.id})}" method="post">
                        <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                        <button type="submit" class="btn btn-success">Одобрить</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${#lists.isEmpty(ads)}">
        <h2 class="mt-5">Объявлений на модерацию нет</h2>
    </div>
</div>
<div th:replace="layout/layout :: foot"></div>
</body>
</html>
