<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
<div th:replace="layout/layout :: navbar"></div>
<div class="container container-chats">
    <h2>Чаты</h2>
    <div class="chat-list">
        <ul>
            <li th:each="chat : ${chats}">
                <div class="chat-card">
                    <a th:href="@{/chats/{chatId}(chatId=${chat.id})}">
                        <h3 th:text="'Пользователь: ' + ${chat.getNotCurrentUser(currentUser).getFirstName()}"></h3>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <div class="chat-window" th:if="${chats == null}">
        <h2>Сообщений нет</h2>
    </div>
</div>
<div th:replace="layout/layout :: foot"></div>
</body>
</html>
