<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
<div th:replace="layout/layout :: navbar"></div>
<div class="container chat-window">
    <h2 class="mb-4">
        Пользователь:
        <a th:href="@{/user/{userId}(userId=${recipient.id})}" th:text="${recipient.firstName}"></a>
    </h2>
    <div id="messages">
        <div th:each="message : ${chat.messages}">
            <div th:if="${message.sender.id == currentUser.id}" th:text="${message.content}" class="sent-message"></div>
            <div th:if="${message.sender.id != currentUser.id}" th:text="${message.content}"
                 class="received-message"></div>
        </div>
    </div>
    <div class="row">
        <form id="sendMessage" th:action="@{/app/chat}" method="post">
            <input type="hidden" id="chatId" th:value="${chat.id}"/>
            <input type="hidden" id="senderId" th:value="${currentUser.id}"/>
            <input type="hidden" id="recipientId" th:value="${recipient.id}"/>
            <div class="col-11 me-2">
                <input type="text" id="messageContent" name="content" class="form-control">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">-></button>
            </div>
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const socket = new SockJS('/ws');
        const stompClient = Stomp.over(socket);

        stompClient.connect({}, (frame) => {
            console.log('Connected: ' + frame);

            stompClient.subscribe('/topic/messages', (messageOutput) => {
                const message = JSON.parse(messageOutput.body);
                showMessage(message);
            });

            document.querySelector('#sendMessage').addEventListener('submit', (e) => {
                e.preventDefault();
                const messageContent = document.querySelector('#messageContent').value;
                const chatId = document.querySelector('#chatId').value;
                const senderId = document.querySelector('#senderId').value;
                const recipientId = document.querySelector('#recipientId').value;

                stompClient.send("/app/chat", {}, JSON.stringify({
                    chatId,
                    senderId,
                    recipientId,
                    content: messageContent
                }));

                document.querySelector('#messageContent').value = '';
            });
        });
    });

    function showMessage(message) {
        const messageElement = document.createElement('div');
        if (message.senderId === parseInt(document.querySelector('#senderId').value)) {
            messageElement.classList.add('sent-message');
        } else {
            messageElement.classList.add('received-message');
        }
        messageElement.appendChild(document.createTextNode(message.content));
        document.querySelector('#messages').appendChild(messageElement);
    }
</script>
<div th:replace="layout/layout :: foot"></div>
</body>
</html>
