<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
<div th:replace="layout/layout :: navbar"></div>
<div class="container">
    <h1>Оформить доставку</h1>
    <form th:object="${delivery}" action="/delivery/create" method="post">
        <div class="row mb-3">
            <label for="senderAddress" class="col-sm-2 col-from-label">Укажите адрес отправителя</label>
            <div class="col-sm-6">
                <input type="text" id="senderAddress" class="form-control" th:field="*{senderAddress}"/>
            </div>
        </div>
        <div class="row mb-3">
            <label for="senderIndex" class="col-sm-2 col-from-label">Укажите почтовый индекс отправителя</label>
            <div class="col-sm-6">
                <input type="text" id="senderIndex" class="form-control" th:field="*{senderIndex}">
            </div>
        </div>
        <div class="row mb-3">
            <label for="recipientAddress" class="col-sm-2 col-from-label">Укажите адрес получателя</label>
            <div class="col-sm-6">
                <input type="text" id="recipientAddress" class="form-control" th:field="*{recipientAddress}"/>
            </div>
        </div>
        <div class="row mb-3">
            <label for="recipientIndex" class="col-sm-2 col-from-label">Укажите почтовый индекс получателя</label>
            <div class="col-sm-6">
                <input type="text" id="recipientIndex" class="form-control" th:field="*{recipientIndex}"/>
            </div>
        </div>
        <div class="mb-3">
            <input type="radio" id="online"
                   th:value="${T(com.example.adplacementservice.model.enums.DeliveryMethod).MAIL}"
                   th:field="*{deliveryMethod}"/>
            <label for="online">Доставка почтой</label><br>
            <input type="radio" id="cash"
                   th:value="${T(com.example.adplacementservice.model.enums.DeliveryMethod).COURIER}"
                   th:field="*{deliveryMethod}"/>
            <label for="cash">Курьерская доставка</label><br>
        </div>
        <input type="hidden" name="adId" th:value="${ad.id}">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}">
        <button class="btn btn-primary" type="submit">Оформить</button>
    </form>
</div>
<div th:replace="layout/layout :: foot"></div>
</body>
</html>
