<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>
<div th:replace="layout/layout :: navbar"></div>
<div class="container mt-4">
    <div class="row mb-3">
        <div class="col-12 d-flex justify-content-start">
            <div th:if="${ad.user.getEmail() == user.getEmail()}" class="me-2">
                <form th:action="@{/ad/edit/{adId}(adId=${ad.id})}" method="get" class="d-inline">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                    <button class="btn btn-primary me-2" type="submit">Обновить</button>
                </form>
                <form th:action="@{/ad/delete/{adId}(adId=${ad.id})}" method="post" class="d-inline">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                    <input type="submit" class="btn btn-danger me-2" value="Удалить"/>
                </form>
                <form th:if="${ad.deal != null && ad.deal.status == dealStatus[0]}"
                      th:action="@{/deal/close/{id}(id=${ad.id})}"
                      method="post" class="d-inline">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                    <input type="submit" class="btn btn-secondary me-2" value="Закрыть"/>
                </form>
                <form th:if="${ad?.delivery == null && ad?.deal != null}"
                      th:action="@{/delivery/create}"
                      method="get" class="d-inline">
                    <input type="hidden" name="adId" th:value="${ad.id}">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                    <input type="submit" class="btn btn-secondary me-2" value="Оформить доставку"/>
                </form>
            </div>
            <div th:if="${user.isAdmin() && ad.onModeration}">
                <form th:action="@{/admin/ad/approve/{adId}(adId=${ad.id})}" method="post" class="d-inline">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                    <input type="submit" class="btn btn-success" value="Одобрить"/>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h2 th:text="${ad.title}"></h2>
            <div id="carouselExampleControls" class="carousel slide mb-4 mt-4 w-50" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div th:each="img : ${images}" class="carousel-item active">
                        <img th:src="@{/images/{id}(id=${img.id})}" class="d-block w-100" alt="..."/>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <h2 class="mt-4">Описание</h2>
            <span th:text="${ad.description}"></span>
        </div>
        <div class="col-6">
            <h2 th:text="'Цена: ' + ${ad.price} + ' ₽'"></h2>
            <h2 th:text="'Город: ' + ${ad.city.name}"></h2>
            <h2>
                Контактное лицо:
                <a th:href="@{/user/{userId}(userId=${ad.user.id})}" th:text="${ad.user.firstName}"></a>
            </h2>
            <div th:if="${ad?.user?.avgRating}">
                <h2 th:text="'Средний рейтинг продавца: ' + ${ad.user.avgRating}"></h2>
            </div>
            <div th:if="${ad?.user?.avgRating == null}">
                <h2 th:text="'Средний рейтинг продавца: 0'"></h2>
            </div>
            <div th:if="${ad.deal == null && ad.user != user}">
                <form th:action="@{/deal/create}" method="post" th:object="${dealDto}">
                    <input type="hidden" th:value="${ad.id}" th:field="*{adId}">
                    <input type="hidden" th:value="${ad.user.id}" th:field="*{sellerId}">
                    <input type="hidden" th:value="${user.id}" th:field="*{buyerId}">
                    <input type="radio" id="online"
                           th:value="${T(com.example.adplacementservice.model.enums.PaymentMethod).ONLINE}"
                           th:field="*{paymentMethod}"/>
                    <label for="online">Онлайн оплата</label><br>
                    <input type="radio" id="cash"
                           th:value="${T(com.example.adplacementservice.model.enums.PaymentMethod).CASH}"
                           th:field="*{paymentMethod}"/>
                    <label for="cash">Оплата наличными</label><br>
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                    <button class="btn btn-success" type="submit">Купить</button>
                </form>
            </div>
            <div sec:authorize="isAuthenticated()" th:if="${user != ad.user}"
                 class="mt-3">
                <form th:action="@{/chat/send-first-message}" method="post" th:object="${messageDto}">
                    <input type="hidden" th:value="${ad.user.id}" th:field="*{recipientId}">
                    <input type="hidden" th:value="${user.id}" th:field="*{senderId}">
                    <h2>Спросить у продавца</h2>
                    <textarea id="message" rows="6" class="form-control" th:field="*{content}"></textarea><br>
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                    <button class="btn btn-success" type="submit">Отправить</button>
                </form>
            </div>
            <div sec:authorize="isAuthenticated()"
                 th:if="${ad.deal?.status?.toString() == 'CLOSED' && !ad.reviewWritten && ad.user != user}"
                 class="mt-3">
                <h2 class="mt-4">Оставить отзыв</h2>
                <form th:action="@{/review/create}" method="post" th:object="${reviewDto}">
                    <input type="hidden" th:value="${ad.id}" th:field="*{adId}">
                    <input type="hidden" th:value="${user.id}" th:field="*{authorId}">
                    <input type="hidden" th:value="${ad.user.id}" th:field="*{sellerId}">
                    <label for="reviewRating" class="col-from-label">Оценка от 1 до 5</label><br>
                    <input type="number" id="reviewRating" class="form-control" th:field="*{rating}"><br>
                    <label for="reviewDescription" class="col-from-label">Текст отзыва</label><br>
                    <textarea id="reviewDescription" rows="6" class="form-control" th:field="*{description}"></textarea><br>
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                    <button class="btn btn-success" type="submit">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="layout/layout :: foot"></div>
</body>
</html>
