<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
<div th:replace="layout/layout :: navbar"></div>
<div class="container">
    <div class="row row-cols-1 row-cols-md-5 g-4">
        <div th:each="ad : ${ads}" th:if="${!ad.onModeration}" class="col">
            <div class="card">
                <a th:href="@{/ad/read/{id}(id=${ad.id})}">
                    <img th:src="@{/images/{id}(id=${ad.previewImageId})}" alt=""
                         class="card-img-top">
                </a>
                <div class="card-body">
                    <a th:href="@{/ad/read/{id}(id=${ad.id})}">
                        <h5 th:text="${ad.title}" class="card-title"></h5>
                    </a>
                    <p th:text="${ad.price}" class="card-text"></p>
                    <p th:text="${ad.city.name}" class="card-text"></p>
                    <p th:text="${ad.createdAt}" class="card-text"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="layout/layout :: foot"></div>
</body>
</html>
