<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
<div th:replace="layout/layout :: navbar"></div>
<div class="container mt-4">
    <table class="table table-bordered table-striped" th:if="${not #lists.isEmpty(sentDeliveries)}">
        <thead class="table-dark">
        <tr>
            <th style="width: 15%;">Доставка</th>
            <th style="width: 20%;">Статус</th>
            <th style="width: 20%;">Действие</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="delivery : ${sentDeliveries}">
            <td>
                <a th:href="@{/ad/read/{adId}(adId=${delivery.ad.id})}" th:text="${delivery.ad.title}"></a>
            </td>
            <td th:text="${delivery.status}"></td>
            <td th:if="${delivery.status == T(com.example.adplacementservice.model.enums.DeliveryStatus).IN_PROCESS_SENDING}">
                <form th:action="@{/delivery/change-status/{deliveryId}(deliveryId=${delivery.id})}" method="post">
                    <input type="hidden"
                           th:value="${T(com.example.adplacementservice.model.enums.DeliveryStatus).ON_THE_WAY}"
                           name="deliveryStatus">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                    <button class="btn btn-success" type="submit">Доставка оформлена</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="layout/layout :: foot"></div>
</body>
</html>
