<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
<div th:replace="layout/layout :: navbar"></div>
<div class="container">
    <h1>Редактировать объявление</h1>
    <form th:object="${ad}" th:action="@{/ad/edit}" method="post" enctype="multipart/form-data">
        <div>
            <label for="id"></label>
            <input type="hidden" th:field="*{id}" th:value="${ad.id}" id="id">
        </div>
        <div class="row mb-3">
            <label for="title" class="col-sm-2 col-from-label">Название объявления</label>
            <div class="col-sm-6">
                <input type="text" id="title" class="form-control" th:field="*{title}"/>
            </div>
        </div>
        <div class="row mb-3">
            <label for="description" class="col-sm-2 col-from-label">Описание объявления</label>
            <div class="col-sm-6">
                <textarea rows="3" id="description" class="form-control" th:field="*{description}"></textarea>
            </div>
        </div>
        <div class="row mb-3">
            <label for="price" class="col-sm-2 col-from-label">Цена</label>
            <div class="col-sm-6">
                <input type="text" id="price" class="form-control" th:field="*{price}"/>
            </div>
        </div>
        <div class="row mb-3">
            <label for="city" class="col-sm-2 col-from-label">Город</label>
            <div class="col-sm-6">
                <select id="city" name="city" class="form-select">
                    <option th:each="city : ${cities}" th:value="${city.id}" th:text="${city.name}"
                            th:field="*{city.id}"></option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <label for="category" class="col-sm-2 col-from-label">Категория</label>
            <div class="col-sm-6">
                <select id="category" name="category" class="form-select">
                    <option th:each="category : ${categories}" th:value="${category.id}"
                            th:text="${category.name}" th:field="*{category.id}"></option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <label for="file1" class="form-label">Первая фотография</label>
            <input class="form-control" type="file" id="file1" name="file1">
        </div>
        <div class="row mb-3">
            <label for="file2" class="form-label">Вторая фотография</label>
            <input class="form-control" type="file" id="file2" name="file2">
        </div>
        <div class="row mb-3">
            <label for="file3" class="form-label">Третья фотография</label>
            <input class="form-control" type="file" id="file3" name="file3">
        </div>
        <input type="hidden" name="_csrf" th:value="${_csrf.token}">
        <button class="btn btn-primary" type="submit">Обновить</button>
    </form>
</div>
<div th:replace="layout/layout :: foot"></div>
</body>
</html>
