<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Сервис размещения объявлений</title>
</head>
<body>
<h1>Информация о пользователе</h1>
<hr>
<div>Подробная информация о пользователе: <span th:text="${user.firstName}"></span></div>
<div>Номер телефона: <span th:text="${user.phoneNumber}"></span></div>
<div>Email: <span th:text="${user.email}"></span></div>
<h4>Товары пользователя <span th:text="${user.firstName}"></span></h4>
<div th:if="${not #lists.isEmpty(ads)}">
    <div th:each="ad : ${ads}">
        <p><b th:text="${ad.title}"></b> <span th:text="${ad.price}"></span> руб. | <a
                th:href="@{/ad/read/{id}(id=${ad.id})}">Подробнее</a></p>
    </div>
</div>
<div th:if="${#lists.isEmpty(ads)}">
    <h3>Товаров нет</h3>
</div>
</body>
</html>
